@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: Pretendard;
    scroll-behavior: smooth;
    overflow-x: hidden;
    word-break: keep-all;
    --bs-link-hover-color: white;
}

html::-webkit-scrollbar {
    display: none;
}

[hx-page] {
    cursor: pointer;
}

[hx-open] {
    cursor: pointer;
}

.bg-dark {
    background-color: #182029 !important;
}

.btn-primary {
    --bs-btn-bg: #ea0004 !important;
    --bs-btn-border-color: #ea0004 !important;
    --bs-btn-hover-bg: #ff5053 !important;
    --bs-btn-hover-border-color: #ff5053 !important;
    --bs-btn-active-bg: #ea0004 !important;
    --bs-btn-active-border-color: #ea0004 !important;
}

[data-bs-theme="dark"] * {
    color: white;
}